@charset "utf-8";
html,body{
    margin: 0;
    text-decoration: none;
}
button{
    cursor: pointer;
}
/* header 시작 */
header{
    border-bottom:solid 1px #333;
    background-color: gray;
}
header h1{
    text-align: left;
}
header >div{
    width: 1280px;
    margin: 0 auto ;
}
header >div >div{
    display: flex;
    justify-content: space-between;
}
nav{
    margin-top: 20px;
}
nav ul{
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 30px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
/* header 끝 */
/* section 시작 */
.bg-color{
    background-color: rgb(172, 168, 168);
}
section{ 
    height: 300px;
    border-bottom: solid 1px #333;
    padding-bottom: 30px;
}
section article h2{
    margin: 0;
}

section article{
    margin: 0 auto;
    width: 1280px;  
    padding: 10px 0;
}
section iframe{
    width: 350px;
    height: 200px;
}
section article div{
    display: flex;
    justify-content: center;
    align-items: center;
}
section ul li{
    font-size: 18px;
    margin-bottom: 10px;
}
section ul li a{
    text-decoration: none;
    color: #000;  
}
section ul li a:hover{
    color: plum;
}
/* section 끝 */
/* footer 시작 */
footer{
    background-color: #333;
   padding: 20px 50px;
}
#footer-top ul{
    display: flex;
    justify-content: center;
    padding: 0;

}
#footer-top ul li{
    list-style: none;
    margin: 0 30px;
}
#footer-top ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
#footer-bottom p{
    margin: 5px 0;
    color: #fff;
    font-weight: 400;
}
/* footer 끝 */